.container__projects {
  height: 45rem;
  background-color: #1083d6;
  z-index: 3;
  position: relative;
}

.project-container__projects {
  width: 100%;
}

.project-image__projects {
  width: 15rem;
  height: 10rem;
  position: relative;
  z-index: 3;
  outline: 1px solid #ffffff;
  margin: 1rem;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
}

.item__projects .box {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.item__projects .cover__projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #084977bb; */ /* Pending check this color */
  /* background-color: #1f94ffbf; */
  background-color: #000000a1;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item__projects:hover .cover__projects {
  opacity: 1;
}

.pagination {
  background-color: #084977;
  height: 3rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.pagination ul {
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination li {
  width: 1.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  color: #ffffff;
  padding: 0.2rem;
}

.pagination .next-botton,
.previous-botton {
  color: #ffffff;
}

.pagination .selected {
  background-color: #1083d6;
  border-radius: 1rem;
}
