.not-found-container {
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif {
  height: 15rem;
  width: 100%;
}

.not-found-container p {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}
