.container__about {
  height: 42rem;
  background-color: #1083d6;
  z-index: 2;
  position: relative;
}

.profile-container__about {
  width: 100%;
}

.profile-container__about img {
  width: 10rem;
  border-radius: 50%;
}

.download__about {
  color: #f8f9fa;
  background-color: #084977;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
