.project-section {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #ffffff42;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.75);
}

.project-container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.project-title {
  text-align: center;
  font-weight: bold;
}

.container-project-image {
  margin-bottom: 1rem;
}

.project-description {
  margin-bottom: 0;
}

.project-image {
  display: block;
  width: 9rem;
  height: 5rem;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tecnologies-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tecnologies {
  width: 2rem;
  height: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.project-code {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  background-color: #3838383b;
}

.project-code svg {
  margin: 0.1rem 0.2rem 0.1rem 0;
}

.project-code:hover {
  background-color: #ff6600;
  color: #ffffff;
  transition: all 0.3s;
}

@media only screen and (min-width: 300px) {
  .project-image {
    width: 12rem;
    height: 7rem;
  }
}

@media only screen and (min-width: 500px) {
  .project-image {
    width: 14rem;
    height: 9rem;
  }
}

@media only screen and (min-width: 576px) {
  .project-container {
    width: 80%;
  }
  .container-project-image {
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
  }
  .project-data-text {
    margin: 0.5rem;
  }
  .project-image {
    width: 15rem;
    height: 10rem;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 850px) {
  .project {
    width: 46%;
    display: inline-flex;
    flex-direction: column;
    height: 29rem;
    margin: 0.8rem;
  }
  .container-project-image {
    display: block;
  }
  .project-image {
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .project-description {
    height: 10.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .project-container {
    width: 70%;
  }
  .project-image {
    width: 17rem;
    height: 12rem;
  }
  .project-description {
    height: 8rem;
  }
  .project {
    height: 29rem;
  }
}

@media only screen and (min-width: 1200px) {
  .project-image {
    width: 18rem;
    height: 13rem;
  }
  .project {
    height: 30rem;
  }
}

@media only screen and (min-width: 1400px) {
  .project-container {
    height: 75vh;
  }

  .project {
    width: 30%;
    height: 33rem;
  }
  .project-description {
    height: 11rem;
  }
}
