ul {
  margin-bottom: 0;
}

.container-about {
  width: 90%;
  margin: auto;
}

.section-about {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-about h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.titles {
  font-weight: 700;
  margin-bottom: 1rem;
}

.teachers-containers {
  margin-left: 0.3rem;
}

.icons {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  height: 1.5rem;
}

.ul-tecnologies {
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0;
}

.ul-tecnologies li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.ul-tecnologies li img {
  margin-right: 0.5rem;
}

@media only screen and (min-width: 576px) {
  .container-about {
    width: 80%;
  }
  .ul-tecnologies {
    display: flex;
  }
  .ul-tecnologies li {
    width: 33.3333%;
  }
  .about-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .ul-tecnologies li {
    width: 25%;
  }
  .about-text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container-about {
    width: 70%;
    margin-bottom: 3rem;
  }
}
