.offcanvas {
  background-color: transparent;
}

.offcanvas-body,
.offcanvas-header {
  background-color: #00000042;
}

.button__navbar {
  background-color: transparent;
  border: none;
}

.button-text__navbar {
  color: #f8f9fa;
  font-size: 1.5rem;
}

.item__navbar {
  color: #f8f9fa;
}

.container__navbar-desktop {
  display: none;
}

@media only screen and (min-width: 576px) {
  .light-offcanvas-body,
  .light-offcanvas-header {
    background-color: #f8f9fa !important;
  }

  .light-item__navbar {
    color: #000000;
  }

  .light-button-text__navbar {
    color: #1083d6;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .container__navbar {
    display: none;
  }

  .container__navbar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    z-index: 4;
    margin-left: 1.5rem;
  }

  .desktop__navbar {
    border-radius: 2rem;
    padding: 0.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .light-desktop__navbar {
    background-color: #d5d5d5;
    border: 1px solid grey;
  }

  .dark-desktop__navbar {
    background-color: #d5d5d5;
    border: 1px solid black;
  }

  .desktop__navbar i {
    font-size: 1.8rem !important;
  }

  .desktop__navbar a {
    border-radius: 0.2rem;
  }

  .desktop__navbar a:hover {
    background-color: #000;
  }
}
