.offcanvas {
  background-color: transparent;
}

.offcanvas-body,
.offcanvas-header {
  background-color: #00000042;
}

.button__navbar {
  background-color: transparent;
  border: none;
}

.button-text__navbar {
  color: #f8f9fa;
  font-size: 1.5rem;
}

.item__navbar {
  color: #f8f9fa;
}

@media only screen and (min-width: 576px) {
  .light-offcanvas-body,
  .light-offcanvas-header {
    background-color: #f8f9fa !important;
  }

  .light-item__navbar {
    color: #000000;
  }

  .light-button-text__navbar {
    color: #1083d6;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .container__navbar {
    display: none;
  }
}
