.switch-input__navbar {
  opacity: 0;
  height: 1.5rem;
  width: 3rem !important;
}

.switch__navbar {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.switch__navbar label {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch__navbar label::before {
  display: block;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  z-index: 1;
}

.switch__navbar input:checked + label {
  background-color: #1083d6;
}

.switch__navbar input:checked + label::before {
  transform: translateX(26px);
}

.switch__navbar label:after {
  content: "EN";
  font-size: 14px;
  text-align: right;
  padding-right: 0.6rem;
  line-height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.switch__navbar input:checked + label:after {
  content: "ES";
  color: #f8f9fa;
  text-align: left;
  padding-left: 0.6rem;
}

.theme-switch__navbar {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.theme-toggle__navbar {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch-label__navbar {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  background-color: #555;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 6px;
  box-sizing: border-box;
}

.theme-switch-label__navbar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #f8f9fa;
}

.theme-switch-label__navbar .fa-moon {
  left: 10px;
}

.theme-switch-label__navbar .fa-sun {
  right: 10px;
}

.theme-toggle__navbar:checked + .theme-switch-label__navbar {
  background-color: #ccc;
}

.theme-toggle__navbar + .theme-switch-label__navbar .fa-moon {
  color: #f1c40f;
}

.theme-toggle__navbar + .theme-switch-label__navbar .fa-sun {
  color: #f39c12;
}

.theme-toggle__navbar:checked + .theme-switch-label__navbar .fa-moon {
  color: #f8f9fa;
}

.theme-toggle__navbar:checked + .theme-switch-label__navbar .fa-sun {
  color: #f8f9fa;
}

.theme-toggle__navbar:checked + .theme-switch-label__navbar::before {
  transform: translateX(26px);
  background-color: black;
}

.offcanvas {
  background-color: transparent;
}

.offcanvas-body,
.offcanvas-header {
  background-color: #00000042;
}

.button__navbar {
  background-color: transparent;
  border: none;
}

.button-text__navbar {
  /* color: #1083d6; */
  color: #f8f9fa;
  font-size: 1.5rem;
}
