footer {
  width: 90%;
  height: 10vh;
  margin: auto;
  margin-bottom: 0.5rem;
}

.footer-img {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  color: #000000;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-text p {
  font-size: 0.8rem;
}
