footer {
  width: 90%;
  height: 10vh;
  margin: auto;
  margin-bottom: 0.5rem;
}

.footer-img {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  color: #000000;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-text {
  font-size: 0.8rem;
}

@media only screen and (min-width: 300px) {
  .footer-text {
    font-size: 0.9rem;
  }

  footer {
    margin-bottom: 0.6rem;
  }
}

@media only screen and (min-width: 576px) {
  .footer-text {
    font-size: 1rem;
  }

  footer {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer-text {
    font-size: 1.1rem;
  }

  footer {
    margin-bottom: 1.1rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer-text {
    font-size: 1.2em;
  }
}
