.container-nav {
  width: 90%;
  height: 7vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar {
  padding-bottom: 0;
}

.container-icon-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-nav {
  height: 8rem;
  text-align: center;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-lenguaje {
  display: flex;
}

.button-lenguaje-icon {
  border: none;
  background-color: transparent;
}

.lenguaje-icon {
  height: 1.5rem;
  margin-right: 1rem;
}

.container-nav-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name {
  color: #ff6600;
  font-weight: bold;
}

.nav-text:hover {
  color: #ff6600;
  font-weight: bold;
}

@media only screen and (min-width: 576px) {
  .container-nav {
    width: 80%;
  }
  .name {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .name {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container-nav {
    width: 70%;
  }
}
