.container__banner {
  height: 45rem;
}

.dark__banner {
  background-color: #212e36;
}

.light__banner {
  background-color: transparent;
}

.title__banner {
  font-size: 3rem;
}

.animated-type__banner span {
  font-size: 1.5rem;
}

.dark-text__banner > span,
.dark-text__banner > h1 {
  color: #f8f9fa;
}

.light-text__banner > span,
.light-text__banner > h1 {
  color: #111111;
}

.logo__banner {
  width: 6rem;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .container__banner {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .container__banner {
    height: 100vh;
  }
}
